<launch>

  <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
  <arg name="config_yaml" default="$(find ardupilot_gazebo)/config/apm_config_NAMESPACE.yaml" />

	<!-- Firt run the script that makes the apm_config for namespace -->
	<node pkg="ardupilot_gazebo" name="apm_config_namespaced" type="apm_config_namespaced.sh" required="true"
		args="$(arg config_yaml) $(arg namespace)"/>

</launch>
